<div class="christmas-container">
  <h1>Merry Christmas! 🎄</h1>
  <div class="tree">
    <div class="star">⭐</div>
    <div class="tree-body">
      <div *ngFor="let row of treeRows" class="tree-row">
        <span *ngFor="let item of row" class="ornament">{{item}}</span>
      </div>
    </div>
    <div class="trunk">🟫</div>
  </div>
  <div class="nav-links">
    <a routerLink="/countdown" class="nav-link">View Christmas Countdown</a>
    <a routerLink="/secret-santa" class="nav-link">Secret Santa Generator</a>
  </div>
</div>
